<div class="container">
  <h1>Mis tutorías</h1>
  <mat-list role="list">
    <mat-list-item class="m-list-item" role="listitem">
      <div class="flex">
        <h3>Programación I</h3>
        <h3>Martes 5:30pm</h3>
        <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToSpecificWorkshop()" >VER MÁS</a>
      </div>
    </mat-list-item>

    <mat-list-item class="m-list-item" role="listitem">
      <div class="flex">
        <h3>Programación I</h3>
        <h3>Miércoles 4:30pm</h3>
        <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToSpecificWorkshop()" >VER MÁS</a>
      </div>
    </mat-list-item>

    <mat-list-item class="m-list-item" role="listitem">
      <div class="flex">
        <h3>Programación I</h3>
        <h3>Miércoles 5:30pm</h3>
        <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToSpecificWorkshop()" >VER MÁS</a>
      </div>
    </mat-list-item>
  </mat-list>
</div>
