<app-main-nav-student>
<section class="main-container">
  <h1 style="font-size: xx-large; font-weight: normal">Encuentra tu taller ideal</h1>

  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Elige un curso</mat-label>
      <mat-select>
        <mat-option *ngFor="let course of courses" [value]="course.id">{{course.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Elige un tutor</mat-label>
      <mat-select>
        <mat-option *ngFor="let tutor of tutors" [value]="tutor.id">{{tutor.firstName}} {{tutor.lastName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-nav-list>
    <mat-list-item *ngFor="let workshop of workshops" class="list-principal">
      <div class="flex">
        <p mat-line style="font-weight: lighter; font-size: medium">{{ workshop.course.name }}</p>
        <p mat-line style="font-weight: lighter; font-size: medium">{{ workshop.tutor.firstName }} {{workshop.tutor.lastName}}</p>
        <p mat-line style="font-weight: lighter; font-size: medium">{{ formatAMPM(workshop.startDate, true) }} - {{ formatAMPM(workshop.endDate, false) }}</p>
        <button mat-stroked-button color="white" class="btn-principal"
                (click)="openDialog(workshop)">
          Detalles</button>
      </div>
    </mat-list-item>
  </mat-nav-list>
</section>
</app-main-nav-student>
