<app-main-nav-student>
<div align="center" class="title">
  Mi perfil
</div>
<div align="center">
  <mat-card class="profile-card" >
    <div align="center">
      <br/>
      <div mat-card-avatar class="profile-header-image"></div>
    </div>

    <div class="description" align="left">

      <div>
        <strong>{{studentData.firstName}} {{studentData.lastName}} </strong>
      </div>
      <br/>
      <div>
        Código: <br/>
        {{studentData.account.accountNumber}}
      </div>
      <br/>
      <div>
        Correo educativo: <br/>
        {{ studentData.mail }}
      </div>
      <br/>
      <div>
        Carrera: <br/>
        {{ studentData.career.name }}
      </div>
      <br/>
    </div>
  </mat-card>
</div>
</app-main-nav-student>
