<section class="main-container">
  <section class="container-1">
    <div>
      <h1 style="font-size: xx-large; font-weight: bold">Hola {{ coordinatorData.firstname }}</h1>
      <h2 style="font-weight: normal">¿Qué deseas hacer hoy?</h2>
    </div>
    <img src="https://sanagustin.gps.zeusintranet.com/images/classroom-2.svg" class="img-main" alt="Icono de usuario">
  </section>
  <section class="container">
    <button mat-stroked-button color="white" class="btn-principal"
            routerLink="../schedule">Gestionar<br>mis horarios</button>
    <button mat-stroked-button color="white" class="btn-principal"
            routerLink="../schedule">Programar<br>horario</button>
    <button mat-stroked-button color="white" class="btn-principal"
            routerLink="../schedule">Ver quejas</button>
    <button mat-stroked-button color="white" class="btn-principal"
            routerLink="../schedule">Enviar correo</button>
  </section>
</section>
