<h1 class="spacing">Agregar horario</h1>
<div align="center">
  <h2>Selecciona una opción</h2>
  <mat-button-toggle class="button-cl" routerLink="add" routerLinkActive="active">Agregar manualmente</mat-button-toggle>
</div>
<div align="center">
  <mat-button-toggle class="button-cl" routerLink="edit" routerLinkActive="active">Editar horario</mat-button-toggle>
</div>
<div class="g-buttons" align="center">
  <mat-button-toggle routerLink="../" routerLinkActive="active" label="Atras"><mat-icon>arrow_back</mat-icon>Back</mat-button-toggle>
</div>
