<app-main-nav-coordinator>
<div align="center" class="title">
  Mi perfil
</div>
<div align="center">
  <mat-card class="profile-card" >
    <div align="center">
      <br/>
      <div mat-card-avatar class="profile-header-image"></div>
    </div>

    <div class="description" align="left">

      <div>
        <strong>{{coordinatorData.firstName}} {{coordinatorData.lastName}}</strong>
      </div>
      <br/>
      <div>
        Cargo: <br/>
        Coordinador
      </div>
      <br/>
      <div>
        Facultad: <br/>
        {{coordinatorData.faculty.name}}
      </div>
      <br/>
      <div>
        Correo educativo: <br/>
        {{coordinatorData.mail}}
      </div>
      <br/>
      Cursos:
      <mat-list *ngFor="let c of cursos">
        {{c.seccion}} {{c.name}}
      </mat-list>
      <br/>
    </div>
  </mat-card>
</div>
</app-main-nav-coordinator>
