<app-main-nav-coordinator>
<div class="container">
  <h1>Comentarios</h1>
  <mat-list role="list">
    <mat-list-item class="m-list-item" role="listitem" *ngFor="let comment of lessonComments">
      <div class="flex">
        <h3>{{comment.student.firstName}} {{comment.student.lastName}}</h3>
          <h3>{{comment.qualification}} ⭐</h3>
        <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToSpecificComment(comment.student.id)" >VER MÁS</a>
      </div>
    </mat-list-item>
  </mat-list>
</div>
</app-main-nav-coordinator>
