<app-main-nav-coordinator>
<div class="container">
  <h1>Comentarios</h1>
  <mat-list role="list">
    <mat-list-item class="m-list-item" role="listitem">
      <div class="flex">
        <h3>Brigitte Mendez</h3>
          <h3>5 ⭐</h3>
        <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToSpecificComment()" >VER MÁS</a>
      </div>
    </mat-list-item>

    <mat-list-item class="m-list-item" role="listitem">
      <div class="flex">
        <h3>Camila Durand</h3>
        <h3>4 ⭐</h3>
        <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToSpecificComment()" >VER MÁS</a>
      </div>
    </mat-list-item>

    <mat-list-item class="m-list-item" role="listitem">
      <div class="flex">
        <h3>Martin Casanova</h3>
        <h3>4 ⭐</h3>
        <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToSpecificComment()" >VER MÁS</a>
      </div>
    </mat-list-item>
  </mat-list>
</div>
</app-main-nav-coordinator>
