<app-main-nav-coordinator>
<div>
  <h1 class="title">Detalles del comentario</h1>
  <div>
    <div class="tutoria">
      <div class="details">
        <h3>Alumno: {{lessonComment.student.firstName}} {{lessonComment.student.lastName}}</h3>
        <h3>Tutor de clase: {{lessonComment.lesson.tutor.firstName}} {{lessonComment.lesson.tutor.lastName}}</h3>
        <h3>Tema: {{lessonComment.topic}}</h3>
        <h3>Descripcion: {{lessonComment.comment}}</h3>
      </div>
    </div>
  </div>
</div>
</app-main-nav-coordinator>
