.container {
  margin: 2rem;
  padding: 2rem;
  background-color: #F3F9FA;
  display: flex;
  justify-content: space-between;
}
.sub-container{
width: 100%;
}
.btn-principal{
  background-color: transparent;
  font-weight: normal;
  color: #1282A2;
}
.main-container {
  padding: 2rem;
}
