<section class="main-container">
  <h1 style="font-size: xx-large; font-weight: normal">Rendimiento</h1>

  <div class="container">
    <div class="sub-container" style="background-color: #0A1128">
      <h3>Nivel de aprobación</h3>
      <mat-progress-spinner value="75"></mat-progress-spinner>
    </div>

    <div class="sub-container">


      <mat-nav-list>
        <mat-list-item style="background-color: white; height: 80px; margin-bottom: 1rem">
          <p mat-line>Mis Talleres</p>
          <div>
            <div class="row" style="display: flex">
              <p style="font-size: xx-large">4.5</p>
              <span class="material-icons" style="color: #FFE600">star_rate</span>
            </div>
            <a href="https://www.w3schools.com" class="btn-principal">Ver más</a>
          </div>
        </mat-list-item>

        <mat-list-item style="background-color: white; height: 80px">
          <p mat-line>Mis Tutorías</p>
          <div>
            <div class="row" style="display: flex">
              <p style="font-size: xx-large">4.5</p>
              <span class="material-icons" style="color: #FFE600">star_rate</span>
            </div>
            <a href="https://www.w3schools.com" class="btn-principal">Ver más</a>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

</section>
