<app-main-nav-tutor *ngIf = "isLoaded">
<div>
  <div class="container">
    <div class="greeting">
      <div>
        <h1 >Hola  {{tutorData.firstName}}</h1>
        <h3>¿Qué deseas hacer hoy?</h3>
      </div>
    </div>
    <div class="buttons">
      <a mat-button class="mat-button-text btn btn-twol" color="primary" (click)="navigateToSeeTutorShips()" >VER <br>MIS TUTORIAS</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >VER <br> MIS TALLERES</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary"
         routerLink="../performance">VER MI<br> RENDIMIENTO</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >VER <br> HORARIOS</a>
    </div>
  </div>
</div>
</app-main-nav-tutor>
