<div>
  <div class="container">
    <div class="greeting">
      <div>
        <h1>Hola Angel</h1>
        <h3>¿Qué deseas hacer hoy?</h3>
      </div>
      <img src="https://sanagustin.gps.zeusintranet.com/images/classroom-2.svg" class="img-main" alt="">
    </div>
    <div class="buttons">
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >GESTIONAR <br>MIS HORARIOS</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >PROGRAMAR <br> HORARIO</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >VER <br> REPORTES</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >ENVIAR <br> CORREO</a>
    </div>
  </div>
</div>
