.btn{
  margin-top: 20px;
  background-color: white;
  color: #1282A2;
  border: 1px solid #1282A2;
  width: 200px;
  padding: 1em 4em;
}
.container{
  margin: 40px 40px 0px 40px;
}
.greeting{
  padding: 40px;
  background-color: rgba(3, 64, 120, .19);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img-main{
  width: 200px;
  height: 200px;
  display: none;
}
/*.btn-twol{
  padding: 1em 4em ;
  min-width: 100px;
  min-height: 100px;
}*/
@media screen and (max-width: 768px) {
  .btn {
    width: 150px;
    padding: 1em;
  }
}

@media screen and (max-width: 375px) {
  .btn {
    width: 200px;
    padding: 1em 4em;
  }
  .buttons{
    justify-content: space-evenly;
  }
}
