<app-main-nav-tutor>
  <mat-card style="height: 100%">
    <h1 style="margin-left: 5%;margin-top: 2%;">
      Asistencia de los estudiantes
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="margin:5px">people_alt</mat-icon>
    </h1>
    <mat-card-content>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z3">

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Alumno</th>
          <td mat-cell *matCellDef="let element"> {{element.student.firstName}} {{element.student.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef> Correo electronico</th>
          <td mat-cell *matCellDef="let element"> {{element.student.mail}} </td>
        </ng-container>

        <ng-container matColumnDef="assistance">

          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <input type="checkbox"
                          [checked]="row.assistance"
                          (change) = "row.assistance = !row.assistance"/>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)"></tr>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </table>
    </mat-card-content>
    <mat-card-actions class="actions">
      <a mat-button class="mat-button-text " color="primary">Cancelar</a>
      <a mat-button class="mat-button-text" color="primary" (click)="save()">Guardar</a>
    </mat-card-actions>
  </mat-card>
</app-main-nav-tutor>
