<h1 class="spacing">Encuentra tu tutoría ideal</h1>
<div align="center">
  <h2>Selecciona al tutor</h2>
  <mat-form-field appearance="fill">
    <mat-label>Selecciona tutor</mat-label>
    <select matNativeControl required>
      <option></option>
      <option value="1">Rodrigo Salazar</option>
      <option value="2">Alejandra Nuñez</option>
      <option value="3">Jose Mirones</option>
    </select>
  </mat-form-field>

</div>

<div class="g-buttons" align="center">
  <mat-button-toggle routerLink="/tutorials-1" routerLinkActive="active" label="Atras"><mat-icon>arrow_back</mat-icon>Back</mat-button-toggle>

  <mat-button-toggle routerLink="/tutorials-3" routerLinkActive="active">Next<mat-icon>arrow_forward</mat-icon></mat-button-toggle>
</div>
