<h1 class="spacing">Encuentra tu tutoría ideal</h1>
<div align="center">
  <h2>Selecciona el día y hora</h2>
  <mat-form-field appearance="fill">
    <mat-label>Selecciona dia</mat-label>
    <select matNativeControl required>
      <option></option>
      <option value="1">Lunes</option>
      <option value="2">Martes</option>
      <option value="3">Miercoles</option>
      <option value="4">Jueves</option>
      <option value="5">Viernes</option>
      <option value="6">Sabado</option>
    </select>
  </mat-form-field>
</div>
<div align="center">
  <mat-form-field appearance="fill">
    <mat-label>Selecciona hora</mat-label>
    <select matNativeControl required>
      <option></option>
      <option value="1">7:00 - 8:30 am</option>
      <option value="2">7:00 - 8:30 pm</option>
      <option value="3">11:00 - 12:30 pm</option>
    </select>
  </mat-form-field>
</div>

<div class="g-buttons" align="center">
  <mat-button-toggle routerLink="/tutorials-2" routerLinkActive="active" label="Atras"><mat-icon>arrow_back</mat-icon>Back</mat-button-toggle>

  <mat-button-toggle routerLink="/tutorials-4" routerLinkActive="active">Next<mat-icon>arrow_forward</mat-icon></mat-button-toggle>
</div>
