<app-main-nav-student *ngIf ="isLoaded">
<div>
  <div class="container">
    <div class="greeting">
      <div>
        <h1 style="font-weight: 900; font-size:40px;">Hola {{studentData.firstName}}</h1>
        <h3 style="font-size:30px;">¿Qué deseas hacer hoy?</h3>
      </div>
    </div>
    <div class="buttons">
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >INSCRIBIRSE<br>A UNA TUTORIA</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary"
      routerLink="./workshops/new">INSCRIBIRSE<br> A UN TALLER</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary" (click)="navigateToSeeReservations()" >VER <br> MIS RESERVAS</a>
      <a mat-button class="mat-button-text btn btn-twol" color="primary" >VER HORARIOS <br>DISPONIBLES </a>
    </div>
  </div>
</div>
</app-main-nav-student>
