
<app-main-nav-tutor>
  <div class="content">
    <div align="center" class="title">
      Mi perfil
    </div>
    <div align="center">
      <mat-card class="profile-card" >
        <div align="center">
          <br/>
          <div mat-card-avatar class="profile-header-image"></div>
        </div>

        <div class="description" align="left">

          <div>
            <strong>{{tutorData.firstName}} {{tutorData.lastName}}</strong>
          </div>
          <br/>
          <div>
            Cargo: <br/>
            Tutor
          </div>
          <br/>
          <div>
            Código: <br/>
            {{tutorData.account.accountNumber}}
          </div>
          <br/>
          <div>
            Correo educativo: <br/>
            {{ tutorData.mail }}
          </div>
          <br/>
          <div>
            Carrera: <br/>
            {{ tutorData.faculty.name }}

          </div>
          <br/>
          Cursos:
          <mat-list *ngFor="let c of cursos">
            {{c.seccion}} {{c.name}}
          </mat-list>
          <br/>
        </div>
      </mat-card>
    </div>
  </div>
</app-main-nav-tutor>
