<div>
  <h1 class="title">Curso</h1>
  <div>
    <div class="tutoria">
      <h2>Detalles de la clase</h2>
      <div class="details">
        <h3>Tema: tutoria.tema</h3>
        <h3>Fecha: tutoria.fecha</h3>
        <h3>Inicio de clase: tutoria.startDate</h3>
        <h3>Fin de clase: tutoria.endDate</h3>
      </div>
    </div>
    <div class="buttons">
      <a mat-button class="mat-button-text btn" color="primary" >VER ASISTENCIA</a>
      <a mat-button class="mat-button-text btn" color="primary" >MODIFICAR</a>
      <a mat-button class="mat-button-text btn" color="primary" >INGRESAR A LA SESIÓN</a>
    </div>
  </div>
</div>
