<app-main-nav-tutor *ngIf = "isLoaded">
<div>
  <div>
    <div class="tutoria">
      <h2>Detalles de la clase</h2>
      <div class="details">
        <h3>Descripcion: {{tutorship.description}}</h3>
        <h3>Fecha: {{ formatDateIsoDate(tutorship.startDate) }}</h3>
        <h3>Inicio de clase: {{ formatAMPM(tutorship.startDate) }}</h3>
        <h3>Fin de clase: {{ formatAMPM(tutorship.endDate) }}</h3>
      </div>
    </div>
    <div class="buttons">
      <a mat-button class="mat-button-text btn" color="primary" (click)="navigateToAttendance()">TOMAR ASISTENCIA</a>
      <a mat-button class="mat-button-text btn" color="primary" (click)="openDialog()" >MODIFICAR</a>
      <a mat-button class="mat-button-text btn" color="primary" (click)="signIn()" >INGRESAR A LA SESIÓN</a>
    </div>
  </div>
</div>
</app-main-nav-tutor>
