<app-main-nav-coordinator>
<div>
  <mat-card-content  >
    <mat-button-toggle class="btn-b" style="float: left" routerLink="../../" routerLinkActive="active" label="Atras"><mat-icon>arrow_back</mat-icon></mat-button-toggle>
  </mat-card-content>
  <h1 class="title">Agregar horario</h1>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <mat-label class="lbl">Tipo de clase</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione el tipo</mat-label>
        <mat-select matNativeControl [(value)]="lessonData.lessonTypeId">
          <mat-option *ngFor="let lssts of lessonTypes" value="{{lssts.id}}">{{lssts.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      {{lessonData.lessonTypeId}}
    </mat-card-content>
    <mat-card-content>
      <mat-label  class="lbl">Tutor</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione el tutor</mat-label>
        <mat-select matNativeControl [(value)]="lessonData.tutorId">
          <mat-option  *ngFor="let ttor of tutors" value="{{ttor.id}}">{{ttor.firstName}} {{ttor.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
      {{lessonData.tutorId}}
    </mat-card-content>
    <mat-card-content>
      <mat-label  class="lbl">Curso</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione el curso</mat-label>
        <mat-select [(value)]="lessonData.courseId">
          <mat-option  *ngFor="let crs of courses" [value]="crs.id">{{crs.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      {{lessonData.courseId}}
    </mat-card-content>
    <mat-card-content>
      <mat-label  class="lbl">Fecha</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Escoja la fecha</mat-label>
        <input matInput [matDatepicker]="picker"  [(ngModel)]="lessonData.startDate">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-label  class="lbl">Inicio de clase</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese hora de inicio</mat-label>
        <input matInput [ngxTimepicker]="pickerx" [(ngModel)]="hora">
        <ngx-material-timepicker #pickerx></ngx-material-timepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-label  class="lbl">Fin de clase</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese hora de cierre</mat-label>
        <input matInput [ngxTimepicker]="pickery" [(ngModel)]="hora_f">
        <ngx-material-timepicker #pickery></ngx-material-timepicker>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div align="right" class="btn-below">
  <mat-button-toggle routerLink="/" routerLinkActive="active">Cancelar</mat-button-toggle>
  <mat-button-toggle  class="der-button" (click)="createLesson()">Guardar</mat-button-toggle>
</div>
</app-main-nav-coordinator>
@routerLink="/" routerLinkActive="active"
