<app-main-nav-student>
<h1 class="spacing">Encuentra tu tutoría ideal</h1>
<div align="center">
  <h2>Selecciona el curso</h2>
  <mat-form-field appearance="fill">
    <mat-label>Selecciona el curso</mat-label>
    <select matNativeControl required>
      <option></option>
      <option value="prog1">Programación I</option>
      <option value="cpl1">CPL I</option>
      <option value="mb1">Matemática Básica</option>
    </select>
  </mat-form-field>

</div>

<div class="g-buttons" align="center">
    <mat-button-toggle routerLink="../new1" routerLinkActive="active" label="Atras"><mat-icon>arrow_back</mat-icon>Back</mat-button-toggle>
    <mat-button-toggle routerLink="../new2" routerLinkActive="active">Next<mat-icon>arrow_forward</mat-icon></mat-button-toggle>
</div>
</app-main-nav-student>
