<app-main-nav-coordinator>
<div>
  <h1 class="mt-8">Gestion de horarios</h1>
  <div>
    <h3 class="text-center" >Selecciona una opción</h3>
    <div class="m-flex">
      <div class="buttons text-center flex">
        <a mat-button class=" mat-button-text btn-tpc mt-3" (click)="navigateToSeeLessons()"> VER CLASES </a>
        <a  mat-button class=" mat-button-text btn-tpc mt-3" (click)="navigateToSeeTrainings()" >VER CAPACITACIONES</a>
      </div>
    </div>
  </div>
</div>
</app-main-nav-coordinator>
